/* CSS Document */

body {
background-image: url(../recruit/images/bg.png);
	background-repeat: no-repeat;
	background-position: top;
}
.recruitbox{
	width:480px;
	float:right;
	margin:40px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	text-align:left;
	border-left: 1px solid #cccccc;
}
table{
	margin-top:50px;
	padding:0px;
	border-collapse: collapse;
	border-spacing: 0;
}
th{
	width:80px;
	padding:7px;
	vertical-align: top;
}
td{
	padding:7px;
	margin:0px;
}
td ul{
	margin-left:20px;
	margin-bottom:0px;
	margin-top:0px;
	padding:0px;
}
.center{
	text-align:center;
	margin-top:50px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
}
.undermenu a, .undermenu a:visited{
	color:#ffffff;
}