/*! http://responsiveslides.com v1.32 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 330px;
  padding: 0;
  margin: 0;
  }

.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.rslides_tabs{
	width:270px;
	  margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	  padding:0px;
  }
.rslides_tabs li{
	  list-style-type:none;
	  float:left;
  }
  .rslides_tabs li a{
padding: 5px;
margin-top: 0px;
margin-right: 5px;
margin-bottom: 0px;
margin-left: 5px;
border: 1px solid #333;
color: #FFF;
background-color: #333;
  }

 .rslides_tabs li a:hover{
padding: 5px;
margin-top: 0px;
margin-right: 5px;
margin-bottom: 0px;
margin-left: 5px;
border: 1px solid #333;
color: #333;
background-color: #ffffff;
  }
